<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
 
<link rel="stylesheet" type="text/css" media="screen" href="{{  asset('css/ui-lightness/jquery-ui-1.10.4.custom.css') }} " />
<link rel="stylesheet" type="text/css" media="screen" href="{{  asset('css/ui.jqgrid.css') }} " />
 
<style type="text/css">
html, body {
    margin: 0;
    padding: 0;
    font-size: 75%;
}
</style>
 

<script src="{{ asset('js/jquery-1.10.2.js') }} " type="text/javascript"></script> 
<script src="{{ asset('js/i18n/grid.locale-en.js') }} " type="text/javascript"></script> 
<script src="{{ asset('js/jquery.jqGrid.min.js') }}" type="text/javascript"></script> 
<script src="{{ asset('js/jqgridf.js') }}" type="text/javascript"></script>  
</head> 

<body> 

<table id="list" class="scroll"></table> 
<div id="pager" class="scroll" style="text-align:center;"></div> 

</body> 
</html>